<h1>
  <%= link_to chats_path, class: "text-decoration-none" do %>
    <i class="bi bi-arrow-left"></i>
  <% end %>
  Chat <%= @chat.id %>
</h1>

<%= turbo_stream_from @chat %>

<ul class="list-group">
  <%= turbo_frame_tag "messages" do %>
    <% @messages.each do |message| %>
      <%= render message %>
    <% end %>
  <% end %>
</ul>

<%= form_with model: [@chat, Message.new] do |form| %>
  <div class="input-group">
    <%= form.text_field :content, autocomplete: "off", class: "form-control", required: true %>
    <%= form.submit "Send", class: "btn btn-success" %>
  </div>
<% end %>
